@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Tilt+Prism&display=swap');

:root{
  /* Font Family */
  --head-line: 'Tilt Prism', cursive;
  --Sub-head-line:'Bricolage Grotesque', sans-serif ;

  /* Font Colors */
  --night-city: #000000;
  --day-light: #ffffff;
  --rainy-cloud: #555555;
  --rainy-cloud_2: #333333;

  /* Background Color */
  --bg-color: #eeffee;
  --bg-cloud_color: #eeeeee;
  --cv-bg-color: linear-gradient(45deg, #221fbf, #69175f);
  --purple-bg-color: #231fbf;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Sub-head-line);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--bg-color);
}

.container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: var(--day-light);
  margin: 50px;
  box-shadow: 0 35px 55px rgba(0, 0, 0, .15);
}

.top{
  position: relative;
  width: 100%;
  height: 400px;
  background: var(--cv-bg-color);
  padding: 50px;
}

h2{
  font-size: 3em;
  color: var(--day-light);
  font-family: var(--head-line);
  text-transform: uppercase;
  line-height: .7em;
  letter-spacing: .1rem;
}

h2 span{
  font-size: .4em;
  font-weight: 300;
}

.group{
  position: relative;
  display: grid;
  /* place-items: center; */
  gap: 40px;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  margin-top: 20px;
}

.group .imgBx{
  position: relative;
  width: 100%;
}

.group .imgBx img{
  width: 100%;
}

.group p{
  color: var(--day-light);
  font-size: 1.05rem;
}

.bottom{
  position: relative;
  display: grid;
  margin: 50px 50px 0;
  gap: 40px;
  grid-template-columns: 2fr 3fr;
}

.bottom .left_side{
  margin-top: 50px;
}

h4{
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: .25em;
  color: #ffffff;
  font-family: var(--Sub-head-line);
  background: var(--purple-bg-color);
  font-weight: 600;
  padding: 0 15px;
  margin-top: 40px;
  display: inline-flex;
}

.contactInfo{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.contactInfo li{
  list-style: none;
  display: flex;
  gap: 10px;
}

.contactInfo li .icon{
  color: var(--purple-bg-color);
}

.contactInfo li .text{
  color: var(--rainy-cloud);
}

.skills{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.skills .skills_bx{
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 3fr;
}

.skills .skills_bx p{
  color: var(--rainy-cloud_2);
}

.skills .skills_bx .value{
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--bg-cloud_color);
}

.skills .skills_bx .value::before{
  content: '';
  position: absolute;
  width: var(--i);
  height:100%;
  border-radius: 5px;
  background: var(--purple-bg-color);
}

.edu_group{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.edu_groupBx{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.edu_groupBx p:nth-child(1){
  font-weight: 500;
}

.edu_groupBx b{
  font-weight: 600;
  color: var(--purple-bg-color);
}

.edu_groupBx b span{
  position: relative;
  top: -2px;
  font-size: .8rem;
  color: var(--rainy-cloud_2);
}

.hobbies{
  padding: 0 50px 50px;
}

.hobbies ul{
  display: flex;
  margin-top: 30px;
  gap: 20px;
  justify-content: space-between;
}

.hobbies ul li{
  list-style: none;
  color: var(--rainy-cloud_2);
  width: calc(100% / 6);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  cursor: pointer;
  transition: .5s all;
}

.hobbies ul li:hover{
  background: var(--purple-bg-color);
  color: var(--bg-cloud_color);
}

.hobbies ul li i{
  font-size: 2em;
}